<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="../static/img/favicon.ico">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500|Gamja+Flower" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

  <title>Cookie Craver</title>
</head>

<body>
  <div class="container">
    <h1>Cookie Craver</h1>
    <div id="download" style="display:block;">
        <a class="btn btn-primary btn-block" href="https://chrome.google.com/webstore/detail/cookiecraver/pcgbmlanbpbbbbilccjikehlmkmkhmog?utm_source=chrome-ntp-icon">Download from the Chrome Web Store</a>
    </div>
    <div class="card" id="card" style="display:none;">
      <div class="card-body">
        <h2 class="card-title"><img id="player-pic" src="https://via.placeholder.com/52x52" /> Hi, <span id="name"></span>!</h2>
        <div class="row">
          <div class="col">
            You're currently in <span id="player-rank"></span>/<span id="total"></span>th place! Keep collecting those
            cookies!<br />
          </div>
          <div class="col">
            <span class="score float-right" id="score"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="leaderboard">
      {% for user in users %}
      <div class="card" id="{{user[0]}}">
        <div class="row">
          <div class="col col-md-2 ranking">#{{loop.index}}</div>
          <div class="col name"><img src="{{user[3]}}" /> {{user[1]}} {{user[2]}} </div>
          <div class="col score">
            <div class="float-right">
              {% for num in user[4] %}<span>{{num}}</span>{% endfor %}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>